<html class="noscrollbar">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/main.css" rel="stylesheet" />
    </head>

    <input type="hidden" id="clickme"></input>

    <body id="body" onclick="getElementById('clickme').click()">
        <div id="main_page" class="hero min-h-screen bg-base-400">
            <div class="hero-content text-center">
                <div class="max-w-lg">
                    <h1 class="text-5xl font-bold">Polish 💅</h1>
                    <progress id="loading_progress" class="progress progress-primary w-56 my-6" value="" max="100"></progress>
                    <p id="loading_warmup">...</p>
                </div>
            </div>
        </div>
    </body>

    <footer class="footer p-10 bg-neutral text-neutral-content rounded-t-lg">
        <div>
            <span class="footer-title">Contributors</span> 
            <a class="link link-hover" target="_blank" href="https://github.com/JEF1056">Jess Fan</a>
            <a class="link link-hover" target="_blank">Ines B</a>
            <a class="link link-hover" target="_blank">Nick Beckman</a>
            <a class="link link-hover" target="_blank">Elisa Kim</a>
        </div>
        <div>
            <span class="footer-title">Instructions</span>
            <p>Just type your text! Wait 2 seconds for the model to begin generation</p>
            <p>[TAB] Key: Accept sentence completion</p>
            <span class="text-green-200 hover:bg-base-200 rounded">Click to accept addition</span>
            <span class="text-red-200 hover:bg-base-200 rounded">Click to accept removal</span>
            <span style="opacity:50%" class="hover:bg-base-300 rounded">Click to accept sentence completion</span>
        </div>
    </footer>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/5.1.0/diff.min.js"></script>
<script src="/static/js/page_controller.js"></script>
<script src="/static/js/generate.js"></script>
<script src="static/js/tokenizer.js"></script>
<script src="static/js/helpers.js"></script>
<script src="static/js/text_handlers.js"></script>